ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: cornflowerblue;
}

li {
    float: left;
}

li span, .dropBtn {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li span:hover, .dropdown:hover .dropBtn {
    background-color: #0770af;
}

li.dropdown {
    display: inline-block;
}

.dropdownContent {
    display: none;
    position: absolute;
    background-color: cornflowerblue;
    min-width: 160px;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdownContent span {
    color: white;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdownContent span:hover {
    background-color: #0770af;
}

.dropdown:hover .dropdownContent {
    display: block;
}

.activeLink {
    color: gold;
    font-weight: bold;
    text-decoration: none;
}

.usualLink {
    color: white;
    text-decoration: none;
}